GITLAB_HOME=/Volumes/docker/GitLab
GITLAB_HOSTNAME=gitlab.local
GITLAB_HTTP_PORT=8929
GITLAB_SSH_PORT=2224
GITLAB_DOWNLOADS_PORT=8930
GITLAB_ROOT_EMAIL=root@example.com
GITLAB_ROOT_PASSWORD=change-me-now
GITLAB_DEFAULT_LANGUAGE=zh_CN
GITLAB_RELEASE_DOWNLOAD_PROJECT_PATH=root%2Ftnyma-ai-installer
GITLAB_RELEASE_DOWNLOAD_PACKAGE_NAME=tnyma-ai-installer
GITLAB_RELEASE_DOWNLOAD_TOKEN=replace-with-project-read-token
