GITLAB_HOME=/Volumes/docker/GitLab
GITLAB_HOSTNAME=gitlab.local
GITLAB_HTTP_PORT=8929
GITLAB_SSH_PORT=2224
GITLAB_ROOT_EMAIL=root@example.com
GITLAB_ROOT_PASSWORD=change-me-now
GITLAB_DEFAULT_LANGUAGE=zh_CN
